<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Hello, world!</title>
  </head>
  <body>
    <h1>URL LINK</h1>
    <div>
    <form action="/save/" method="POST" align='center'>
        {% csrf_token %}
        <input type="text" name="n1" placeholder="paste link" class="rounded col-lg-6 mt-4"><br>
        <input type="text" name="n2" placeholder="uid" class="rounded col-lg-6 mt-4"><br>
        <button type="submit" class="rounded col-lg-6 mt-4 btn btn-success">Create</button>
    </form>
    </div>
    <div class="p-4">
    <table border="2" align="center">
        <thead>
        <tr class="bg-info" align="center">
            <th>link</th>
            <th>uid</th>
            <th>short link</th>
        </tr>
        </thead>
        {% for x in td %}
        <tr>
            <td>{{x.link}}</td>
            <td>{{x.uid}}</td>
            <td><a href="{{x.link}}">127.0.0.1:8000/{{x.uid}}</a></td>
        </tr>
        {% endfor %}
    </table>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>
